/* shared styles */

* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

/* shared colors */
.titleColor {
    color: #4E47FF;
}

.primaryColor {
    color: #252432;
}

.textPrimary {
    color: rgba(37, 36, 50, 0.5);
}

/* shared button */
.btnPrimary {
    border: 0;
    padding: 10px 15px;
    font-weight: 700;
    font-size: small;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
}

/* header */
header {
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 150px;
}

.navTitle {
    font-weight: 900;
    font-size: 34px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav li a {
    text-decoration: none;
    margin-right: 22px;
    font-weight: 700;
    font-size: medium;
}

/* banner section */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 200px;
}

.bannerTitle {
    font-weight: 700;
    font-size: 65px;
}

/* live section */
.liveSection {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 104px;
    margin: 120px 150px;
}

.liveSectionText>h3 {
    font-weight: 700;
    font-size: 42px;
}

.liveImg img {
    width: 403px;
    height: 328px;

    background: url(image.png);
    border-radius: 48px;

}

/* active user section */
.activeUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 130px 150px;
    background: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 40px 150px;
    text-align: center;
}

.activeUsers>h3 {
    font-weight: 700;
    font-size: 32px;
    margin: 0px 0px 20px;
    /* margin-bottom: 22px; */
}

.userColumn {
    display: flex;
    align-items: center;
    gap: 100px;
    /* justify-content: space-around; */
}

.userNum {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 1px;
}

.userType {
    color: rgba(37, 36, 50, 0.5);
    margin: 2px;
}