/* shared styles */

* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

/* shared colors */
.titleColor {
    color: #4E47FF;
}

.primaryColor {
    color: #252432;
}

.textPrimary {
    color: rgba(37, 36, 50, 0.5);
}

/* shared button */
.btnPrimary {
    border: 0;
    padding: 10px 15px;
    font-weight: 700;
    font-size: small;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
}

/* header */
header {
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 150px;
}

.navTitle {
    font-weight: 900;
    font-size: 34px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav li a {
    text-decoration: none;
    margin-right: 22px;
    font-weight: 700;
    font-size: medium;
}

/* banner section */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 200px;
}

.bannerTitle {
    font-weight: 700;
    font-size: 65px;
}

/* main */
main {
    background: #F5F8FF;
}

/* live section */
.liveSection {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 104px;
    margin: 0 150px;
    padding-top: 120px;
}

.liveSectionText>h3 {
    font-weight: 700;
    font-size: 42px;
}

.liveImg img {
    width: 403px;
    height: 328px;

    background: url(image.png);
    border-radius: 48px;

}

/* active user section */
.activeUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 130px 150px;
    background: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 40px 150px;
    text-align: center;
}

.activeUsers>h3 {
    font-weight: 700;
    font-size: 32px;
    margin: 0px 0px 20px;
    /* margin-bottom: 22px; */
}

.userColumn {
    display: flex;
    align-items: center;
    gap: 100px;
    /* justify-content: space-around; */
}

.userNum {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 1px;
}

.userType {
    color: rgba(37, 36, 50, 0.5);
    margin: 2px;
}

/* review section */
.reviewSection {
    margin: 130px 150px;
}

.reviewes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.reviewColumn {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 350px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #F2EDED;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: first baseline;
}

.reviewSection>h3 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.reviewTitle {
    width: 221px;
    height: 29px;
    margin: 10px;
}

.reviewSubTitle {
    font-weight: 400;
    font-size: 16px;
    margin: 5px;
}

.person {
    display: flex;
    align-items: center;
    gap: 11px;
    margin: 2px;
}

.person img {
    border-radius: 100%;
    border: 0;
}

.reviewer {
    margin: 5px;
}

.name {
    font-weight: 600;
    font-size: 16px;
    margin: 2px;
}

.reviewer p {
    margin: 2px;
}

/* offer section */
.offerSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 44px;
    margin: 130px 150px;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 71px 150px;
    /* border: 1px black solid; */
}

.offerSection h3 {
    font-weight: 700;
    font-size: 50px;
    margin: 22px;
}

.offerSection img {
    width: 840px;
    height: 364.77px;

    background: url(image.png);
    border-radius: 48px;
}